.gui-buttons .text-button {
  border: solid @borders 1px;
  border-color: alpha(black, 0.5);
  font-weight: normal;
  font-size: 1.0em;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gui-buttons .button-send {
  background-color: green;
}
.scpi-label {
  font-weight: bolder;
  font-size: 0.7em;
  color: darker(darker(darker(@theme_text_color)));
}

.entry-scpi {
  background-color: shade(@theme_base_color, .90);
  border: solid @borders 0px;
  border-top-width: 1px;
  border-color: @theme_bg_color;
  border-top-color: alpha(black, 0.8);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
}

.text-view-scpi {
  background-color: shade(@theme_base_color, .95);
  border-color: alpha(black, 0.8);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 4px;
}

.text-view-scpi text {
  background-color: rgba(0,0,0,0);
}

.text-view-scpi-status {
  background-color: shade(@theme_base_color, .95);
  border-color: alpha(black, 0.8);
  font-size: 0.8em;
  color: lighter(red);
  padding-top: 4px;
  padding-bottom: 4px;
}

.text-view-scpi-status text {
  background-color: rgba(0,0,0,0);
}

.text-view-screenshot-status {
  background-color: rgba(0,0,0,0);
  font-size: 0.8em;
  color: lighter(red);
  padding-top: 4px;
  padding-bottom: 4px;
}

.text-view-screenshot-status text {
  background-color: rgba(0,0,0,0);
}

.text-view-benchmark-status {
  background-color: rgba(0,0,0,0);
  font-size: 0.8em;
  color: lighter(red);
  padding-top: 4px;
  padding-bottom: 4px;
}

.text-view-benchmark-status text {
  background-color: rgba(0,0,0,0);
}

progress, trough {
  min-height: 60px;
}

.label-benchmark-result {
  font-weight: bold;
  font-size: 1.8em;
}

.button-scpi-clear {
  border-style: solid;
  border-top-width: 1px;
  border-radius: 0px;
  border-bottom-right-radius: 4px;
  border-color: alpha(black, 0.8);
}
